/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root{
    --primary: #ffcc00;
}
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}
img{
    max-width: 100%;
}
a {
    text-decoration: none;
}
.container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width:768px){
    main{
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

}
/*menu*/
.menu-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
}
.img-complete{
    display: none;
}
.img-frame{
    height: 32px;
    margin-left: 20px;
}
.link-search, .link-news, .link-menu{
    display: none;
    color: black;
    margin-right: 15px;
}
@media(min-width:768px){
    .img-complete{
        display: block;
    }
    .img-frame{
        display: none;
    }
    .link-search{
        display: inline-block;
    }
    .link-news{
        display: inline-block;
    }
    .link-menu{
        display: inline-block;
    }
}

.link-login{
    font-family: 'Lato', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: 10px;
}
.link-subs{
    text-transform: uppercase;
    background-color: black;
    color:white;
    margin-right: 10px;
    font-size: 14px; ;
    font-weight: bold;
    padding: 14px;
    letter-spacing: 4px;
    transition: ease-out 1.0s;
    height: 20px;
    width: 60px;
    box-shadow: inset 0 0 0 0 var(--primary);
}
.link-arrows{
    color: black;
    margin-right: 20px;
}
.link-subs:hover{
    background-color: var(--primary);
    color: black;
}
/*header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
}
header h1{
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 25px;
}
header p{
    text-align: center;
    font-size: 20;
    text-transform: uppercase;
}

p span.subscribe-word{
    color: white;
    border-bottom: 2px solid yellow;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,black 50%, var(--primary) 50%);
    transition: background-position .1s ease-in-out, color .1s ease-in-out;
}
span.subscribe-word:hover{
    background-position: 0 100%;
    color: black;
}
div.border{
    border-bottom-style: solid;
    border-color: #ffcc00;
    border-width: 4px;
    padding: 12px;
    margin-right: 47%;
    margin-left: 47%;
}
/*mains news secction*/
@media(min-width:768px){
    main{
        display: flex;
        flex-direction: row-reverse;
    }
}
.main-news{
    position: relative;
    margin-bottom: 20px;
}
.main-news :hover img{
    transform: scale(1.1);
    cursor: pointer;
}
.main-news-text{
    position: absolute;
    top: 340px;
    left: 20px;
}
.main-news-text h3{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.main-news-text p{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.main-news-text h4{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 12px;
}

/*secondary-news secction*/

@media(min-width:768px){
    .secondary-news-container{
        display: flex;
        justify-content: space-between;
    }

}
.secondary-news {
    margin-bottom: 20px;
    overflow: hidden;
}
@media(min-width:768px){
    .secondary-news{
        width: 280px;
        height: 400px;
    }

}
.secondary-news img{
    min-width: 100%;
}

.secondary-news-text{
    background-color: white;
    color: black;
    margin-top: -10px;
    padding: 20px;
}
.secondary-news-text h3{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.secondary-news-text p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    margin-bottom: 20px;
}
.secondary-news-text h4{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 12px;
}
.secondary-news:hover img{
    transform: scale(1.1);
    border-bottom: 3px solid var(--primary);
    cursor: pointer;
}
/*today section*/
@media(min-width:768px){
    .todays-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1200px;
        height: 870px;
    }

}
.todays-container h2{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-left: 5px solid var(--primary);
    padding-left: 30px;
    margin-left: 60px;
}

.pick-item{
    display: flex;
}
.pick-item h3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 80px;
}

.pick-item h4{
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 5px;
    margin-left: 50px;
}

.pick-item p{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 40px;
}
.pick-item :hover p{
    cursor: pointer;
    text-decoration: underline;
}
.pick-item img{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 243, 241);
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: white;
}

.contedor{
    display: flex;
    flex-direction: row;
}