/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root{
    --primary: #ffcc00;
}
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}
img{
    max-width: 100%;
}
a {
    text-decoration: none;
}
/*menu*/
.menu-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
}
.img-complete{
    display: none;
}
.img-frame{
    height: 32px;
    margin-left: 20px;
}
.link-search, .link-news, .link-menu{
display: none;
}
.link-login{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: 10px;
}
.link-subs{
 text-transform: uppercase;
 background-color: black;
 color:white;
 margin-right: 10px;
 font-size: 14px; ;
 font-weight: bold;
 padding: 14px;
 letter-spacing: 4px;
}
.link-arrows{
color: black;
margin-right: 20px;
}
.link-subs:hover{
    background-color: var(--primary);
    color: black;
}
/*header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
}
header h1{
text-align: center;
 font-size: 40px;
 text-transform: uppercase;
 letter-spacing: 5px;
 margin-bottom: 25px;
}
header p{
    text-align: center;
    font-size: 20;
    text-transform: uppercase;
}
p span.susbribe-word{

}
div.border{

}